<?xml version="1.0" encoding="UTF-8"?>

<web-app version="4.0" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<error-page>
		<exception-type>br.me.mvc.excecoes.ControllerMvcException</exception-type>
		<location>/WEB-INF/error.jsp</location>
	</error-page>
	
	<error-page>
	  <exception-type>java.lang.RuntimeException</exception-type>
	  <location>/WEB-INF/error.jsp</location>
	 </error-page>


	<error-page>
	  <exception-type>java.lang.Exception</exception-type>
	  <location>/WEB-INF/error.jsp</location>
	 </error-page>
	 
	 
	 
</web-app>